[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/anatole"]
	path = themes/anatole
	url = https://github.com/lxndrblz/anatole.git
[submodule "themes/dream"]
        path = themes/dream
	url = https://github.com/everybodydies/hugo-theme-dream.git
[submodule "public/themes/dream"]
        path = public/themes/dream
        url = https://github.com/everybodydies/hugo-theme-dream.git
[submodule "themes/zen"]
	path = themes/zen
	url = https://github.com/frjo/hugo-theme-zen.git
[submodule "themes/dream-plus"]
	path = themes/dream-plus
	url = https://github.com/UtkarshVerma/hugo-dream-plus
